<!DOCTYPE html>
<html lang="en">

<head>
    <title>Players</title>
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        body {
            background-image: url("/images/kiawah.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>


</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #1b5e20 green darken-4">
                <a href="" class="brand-logo left">Fairways and Greens</a>
                <ul class="right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/players">Players</a></li>
                    <% if(user) {%>
                    <li><a href="/players/new">Add Player</a></li>
                    <% } %>
                    <li><a href="/tournaments">Tournaments</a></li>
                    <% if(user) {%>
                    <li><a href="/tournaments/new">Add Tournament</a></li>
                    <% } %>
                    <li>
                        <% if(user) {%>
                        <a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a>

                        <% } else { %>
                        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login With Google</a>
                        <% } %>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <main>
        
        <section id="show-page">
            <div class="show-container">
            
                <img class="headshot" src="<%= player.playerImg %>">
            
            <br>
            <h3><a href="/players/<%= player._id %>/update">Update Player Information</a></h3>

            <div>Name: </div>
            <div><%= player.name %></div>
            <div>Age: </div>
            <div><%= player.age %></div>
            <div>Country: </div>
            <div><%= player.country %></div>
            <div>Major Victories: </div>
            <% tournaments.forEach(function(tournament) { %>
            <div class="trophy-info">
                <img class="trophy" src="<%= tournament.trophy %>">
                <div><%= tournament.name %></div>
                <div><%= tournament.year %></div>
            </div>
            <% }); %>
        </div>
            <!-- <img class="trophy-case" src="https://webstockreview.net/images/bookshelf-clipart-empty-bookshelf-18.png" alt="trophy case"> -->

        </section>
        <main>

</body>
<div class="footer">
    <p>&copy; 2020 Stuart Palmer All Rights Reserved</p>
</div>

</html>