<!DOCTYPE html>
<html lang="en">

<head>
    <title>Players</title>
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" />
    <!-- JavaScript for Materialize -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper purple">
                <a href="" class="brand-logo left">Players</a>
                <ul class="right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/players">Players</a></li>
                    <li><a href="/tournaments">Tournaments</a></li>
                    <li>
                        <% if(user) {%>
                        <a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a>

                        <% } else { %>
                        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login With Google</a>
                        <% } %>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <main>

        <section id="show-page">
            <img src="<%= player.playerImg %>">
            <div>Name: </div>
            <div><%= player.name %></div>
            <div>Age: </div>
            <div><%= player.age %></div>
            <div>Country: </div>
            <div><%= player.country %></div>
        </section>
        <div>
            <div class="row">
                <div id="fans" class="col s12">
                    <% fans.forEach(function(user) { %>
                    <div class="card green">
                        <div class="card-content white-text">
                            <div>
                                <span class="card-title">
                                    <i class="small material-icons">perm_identity</i>
                                    <span class="fan-name"><%= fan.name %></span>

                                </span>
                            </div>
                            <ul class="collection">
                                <% fan.memories.forEach(function(memory) { %>
                                <li class="collection-item blue-grey-text text-darken-2"><%= memory.text %></li>
                                <% }) %>
                            </ul>
                            <% if(fan._id.equals(user && user._id)) { %>
                            <div class="card-action">
                                <form action="/players/<%= player._id %>" method="post">
                                    <input type="text" name="text">
                                    <button type="submit">Add Memory</button>
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>


        </div>

        <main>

</body>

</html>